.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.App.light {
  background-color: white;
  color: black;
}

.App.dark {
  background-color: #121212;
  color: white;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #007bff;
}

nav a:hover {
  text-decoration: underline;
}
